body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.logo {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

button {
    margin: 10px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="date"], input[type="number"], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    margin-top: 10px;
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

li:nth-child(odd) {
    background-color: #e9ecef;
}
